extends layout

block content
    div
        each article, i in articles
            h1=article.title 
            small Written By #{article.name}
            p=article.body
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perspiciatis consequatur, praesentium illum accusamus rerum. Odio libero a tempora recusandae quaerat ratione ullam, ad facere modi ex corrupti dolore minima deleniti quasi nostrum vitae impedit cumque reprehenderit, suscipit, excepturi nesciunt. Quos sint alias ipsa ea quas blanditiis incidunt dolores earum?