doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Jade Template
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body 
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mr-btm
            .container
                a.navbar-brand(href='/') Got Article
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExampleDefault.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/')
                                | Home 
                                span.sr-only (current)
                        li.nav-item.active
                            a.nav-link(href='/articles')
                                | Articles 
                                span.sr-only (current)
                         if user
                            li.nav-item.active
                                a.nav-link(href='/article/add')
                                    | Add Article 
                                    span.sr-only (current)
                    ul.navbar-nav.navbar-right
                        if user
                            li.nav-item.active
                                a.nav-link(href='/users/logout') 
                                    | Logout
                                    span.sr-only (current)
                        else
                            li.nav-link.active
                                a.nav-link(href="/users/register") 
                                    | Register
                                    span.sr-only (current)
                            li.nav-link.active
                                a.nav-link(href="/users/login") 
                                    | Login
                                    span.sr-only (current)
                            
        .container
            if user
                .mycontainer
                    h4 Hello, #{user.name}
        .container
            != messages('message',locals)
            if errors
                each error, i in errors
                    div.alert.alert-danger #{error.msg}
            block content
            br 
            hr
            footer
                p.center copyrights &copy; 2020
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
